<!-- Preloader-->
<div id="preloader">
    <div class="apland-load"></div>
</div>

<!-- Header Area-->
<header class="header_area white-nav">
    <div class="main_header_area">
        <div class="container">
            <div class="classy-nav-container breakpoint-off">
                <nav class="classy-navbar justify-content-between" id="aplandNav">
                    <!-- Logo--><a class="logo-text nav-brand" href="/">Chizmachilik</a>
                    <!-- Navbar Toggler-->
                    <div class="classy-navbar-toggler"><span class="navbarToggler"><span></span><span></span><span></span></span>
                    </div>
                    <!-- Menu-->
                    <div class="classy-menu">
                        <!-- Close Button-->
                        <div class="classycloseIcon">
                            <div class="cross-wrap"><span class="top"></span><span class="bottom"></span></div>
                        </div>
                        <!-- Nav-->
                        <div class="classynav">
                            <ul id="corenav">
                                <li><a href="/">Bosh sahifa</a>
                                </li>
                                <li><a href="#materials">O`quv materiallar</a>
                                    <ul class="dropdown">
                                        <li><a href="#sss">Geometrik chizmachlik</a></li>
                                        <li><a href="#">Perksion chizmachlik</a></li>
                                        <li><a href="#">Mashina sozlig chizmachlik</a></li>
                                        <li><a href="#">Tapagrafig chizmachlik</a></li>
                                        <li><a href="#">Arxitektur qurilish chizmachlik</a></li>
                                    </ul>
                                </li>

                                <li><a href="#akt">Media</a>
                                    <ul class="dropdown">
                                        <li><a href="#taqdimotlar">Taqdimotlar</a></li>
                                        <li><a href="#multimediya">Multimediyalar</a></li>
                                    </ul>
                                </li>
                                <li><a href="blog-card.html">Ababiyotlar</a></li>
                                <li><a href="/xabarlar">Yangiliklar</a></li>
                            </ul>
                            <!-- Login Button-->
                            <div class="login-btn-area ml-5 mt-5 mt-lg-0"><a class="btn apland-btn btn-4" href="/tanlov">TANLOVLAR</a></div>
                        </div>
                    </div>
                </nav>
            </div>
        </div>
    </div>
</header>
<!-- Welcome Area-->