<!DOCTYPE html>
<html lang="en">

<!-- Mirrored from designing-world.com/apland-4.5.0/blog-card.html by HTTrack Website Copier/3.x [XR&CO'2014], Mon, 02 Nov 2020 11:46:14 GMT -->

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- The above 4 meta tags *must* come first in the head; any other head content must come *after* these tags-->
    <!-- Title-->
    <title>Chizmachlik - xabarlar </title>
    <!-- Favicon-->
    <link rel="icon" href="img/core-img/favicon.ico">
    <!-- Stylesheet-->
    <link rel="stylesheet" href="style.css">

</head>

<body>

    <%- include("navbar") %>
        <!-- Breadcrumb Area-->
        <div class="breadcrumb-area bg-img bg-black-overlay section_padding_130" style="background-image: url(img/bg-img/testimonials.jpg);">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-12 col-sm-9 col-xl-6">
                        <div class="breadcrumb-content text-center">
                            <h2>Yangiliklar</h2>
                            <p>*Bu yerda gap*</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        <div class="apland-blog-area section_padding_130">
            <div class="container">
                <div class="row" id="news-container">
                    <!-- Single Post Area-->
                    <div id="news-5" class="col-12 col-md-6">
                        <div class="single--post--area mb-30"><img src="./img/blog-img/2.jpg">
                            <div class="post-content d-flex justify-content-between">
                                <div class="post-meta d-flex justify-content-between align-items-center"><a class="post-tag" href="./news.html?category=asdfghj">asdfghj</a></div>
                                <h2>yangilik</h2><a class="btn continue-btn" href="./news.html?newsId=5">Batafsil</a></div>
                        </div>
                    </div>
                    <div id="news-5" class="col-12 col-md-6">
                        <div class="single--post--area mb-30"><img src="./img/blog-img/1.jpg">
                            <div class="post-content d-flex justify-content-between">
                                <div class="post-meta d-flex justify-content-between align-items-center"><a class="post-tag" href="./news.html?category=asdfghj">asdfghj</a></div>
                                <h2>yangilik</h2><a class="btn continue-btn" href="./news.html?newsId=5">Batafsil</a></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-12">
                        <div class="apland-blog-pagination mt-3">
                            <nav aria-label="Page navigation example">
                                <ul class="pagination justify-content-center">
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Previous"><i class="lni-chevron-left"></i></a></li>
                                    <li class="page-item active"><a class="page-link" href="#">1</a></li>
                                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                                    <li class="page-item"><a class="page-link" href="#">4</a></li>
                                    <li class="page-item"><a class="page-link" href="#">5</a></li>
                                    <li class="page-item"><a class="page-link" href="#" aria-label="Next"><i class="lni-chevron-right"></i></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <%- include("footer") %>
</body>

</html>